<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Performer to Song</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width: 100%;
        }
        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Select the Artist to add to the Song</h1>
</header>
<section>
    <h2>Select artist:</h2>
    <form method="POST" action="/artists/add/{songId}">
        <input type="hidden" name="trackId" value="${trackId}" />
        <div th:each="artist : ${artists}">
            <input type="radio" name="artistId" th:id="${artist.id}" th:value="${artist.id}" />
            <label th:for="${artist.id}" th:text="${artist.firstName} + ' ' + ${artist.lastName}"></label>
            <br/>
        </div>
        <br/>
        <input type="submit" value="Add artist">
    </form>
</section>
<aside>
    <table>
        <tr>
            <td><b>Track Id</b></td>
            <td th:text="${trackId}">2</td>
        </tr>
    </table>
</aside>
</body>
</html>
